.productItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21rem;
    /* padding: 1rem; */
    cursor: pointer;
    position: relative;
}
.productImage{
    border-radius: 20%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.description{
    margin-bottom: 0;
}
.price{
    margin-bottom: 0;
}

.hoverDesc{
    background-color: rgba(255, 255, 255, 0.443);
    overflow: hidden;
    display: none;
    padding: 1rem 0;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
    bottom: -10rem;
    /* border-bottom-left-radius: 3.9rem;
    border-bottom-right-radius: 3.9rem; */
}
.productItem:hover > .hoverDesc{
    bottom: 4.9rem;
    animation: fadeUp 0.5s ease-in-out forwards;
    display: block;
    overflow: hidden;
}
@keyframes fadeUp{
    0%{
        height: 15%;
    }
    /* 25%{
        height: 10%;
    }
    50%{
        height: 15%;
    }
    75%{
        height: 20%;
    } */
    100%{
        height: 20%;
    }
}